@layer utilities {
  /* cache les flèches au niveau des inputs */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

/* modification au clique des checkboxes */
input[type="radio"]:checked + .inputChecked,
input[type="checkbox"]:checked + label > .inputChecked {
  background-color: #46d0d9;
}

/* cache l'icon bleu */
input[type="checkbox"]:checked + label .trashBlue,
input[type="checkbox"]:checked + label .extinguisherBlue {
  display: none;
}

/* cache l'icon check */
input[type="checkbox"]:checked + label .trashCheck,
input[type="checkbox"]:checked + label .extinguisherCheck {
  visibility: hidden;
}

/* révèle l'icon blanche */
input[type="checkbox"]:checked + label .trashWhite,
input[type="checkbox"]:checked + label .extinguisherWhite {
  display: block;
}

/* révèle l'icon check */
input[type="checkbox"]:checked + label .trashCheck,
input[type="checkbox"]:checked + label .extinguisherCheck {
  visibility: visible;
}

/* cercle pour le chargement des étapes */
circle {
  fill: none;
  stroke: #46d0d9;
  stroke-width: 10px;
  stroke-dasharray: 220;
  stroke-dashoffset: 150;
}
